<h1 class='review-heading'><img class ='review-icon' src='http://ii.alatest.com/css/b2b/bootstrap/icon-editblue.svg'>Reviews</h1>
<button type='button' id='button-style-1'>
<%= link_to 'Add a restaurant', new_restaurant_path, id: 'add-a-restaurant' %></button>

<section class ='reviews-main-container'>
	<% if @restaurants.any? %>
		<% @restaurants.each do |restaurant| %>
			<section class='individual-review-container'>
				<h3 class='restaurant-name'><%= restaurant.name %></h3>
				<%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant), id: 'edit-restaurant' %>
				<%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), id: 'delete-restaurant', method: :delete %>
				<%= link_to "Leave review", new_restaurant_review_path(restaurant), id: 'leave-review' %>
					<ul class='rating-and-review'>
						<li class='average-rating'>Average rating: <%= star_rating(restaurant.average_rating) %></li>

						<% restaurant.reviews.each do |review| %>
						<li class='review-thoughts'>
							<%= "#{review.thoughts} (#{review.rating})" %>
							<span class='endorsement_count'>
								<%= review.endorsements.count %> 
							</span> endorsements
							
								<%= link_to "Endorse review", review_endorsements_path(review), class: 'endorsement-link' %>
						</li>
						<% end %>
					</ul>
			</section>
			<% end %>
	<% else %>
		There are no restaurants yet. Please use the button below to add one.
	<% end %>
</section>

