<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> prevented the review from being saved:</h2>
 
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for [@restaurant, @review] do |f| %>
	<%= f.label :thoughts %>
	<%= f.text_area :thoughts %>

	<%= f.label :rating %>
	<%= f.select :rating, (1..5) %>
	<%= f.submit 'Leave review' %>
<% end %>