<!DOCTYPE html>
<html>
<head>
  <title>Yelp</title>
  <!-- <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/reset.css"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
</head>
<body>

	<nav class='navigation-container'>
		<a href='/restaurants' id='main-logo'>RATE</a>
	</nav>
	<section class="outer-wrapper">
		<%= notice %>
		<%= yield %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</section>

</body>
</html>
