<!DOCTYPE html>
<html>
<head>
  <title>Yelp</title>
  <!-- <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/reset.css"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
</head>
<body>

	<nav class='navigation-container'>
		<a href='/restaurants' id='main-logo'><img src='http://www.clker.com/cliparts/P/7/r/8/X/p/icon-nutrition-hi.png' id='logo'/>RATE</a>

		<div id='javascript-notice'>
			<%= notice %>
		</div>
		
		<div class='login-buttons'>
			<% if user_signed_in? %>
			<section id='login-message'>
				Logged in as <%= current_user.email %>
			</section>
					<%= link_to 'Sign out', destroy_user_session_path, method: :delete, id: 'sign-out' %>
		<% else %>
				<%= link_to 'Sign up', new_user_registration_path, id: 'sign-up' %>
				<%= link_to 'Log in', new_user_session_path, id: 'log-in' %>
			<a href="#middle">Middle</a>
			</div>
		<% end %>
		</nav>

		<section class="outer-wrapper">
			<div id="middle"></div>
			<%= yield %>

			<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		</section>

</body>
</html>
